.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  margin-right: 30px;
}

@media (max-width: 750px) {
  .header__link {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
  }
}